.page {
    width: 960px;
    margin: 0 auto;
}

body {
    background-color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.nav img {
    display: flex;
    width: 60px;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-direction: row;
    padding-left: 260px;
    padding-top: 35px;
}

.icons img {
    width: 30px;
    margin-inline: 2px;
}

#pint {
    margin-right: 10px;
}

.main-body {
    width: 900px;
    height: 900px;
}

.left-top {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.left-top h2 {
    font-size: 50px;
    height: 5px;
    font-family: 'Yellowtail', cursive;
}

main img {
    width: 900px;
    padding-top: 20px;
}

main h3 {
    font-weight: 50;
    color: rgb(174, 172, 172);
}

.print {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 95px;
}

.print img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
}

.heading {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.heading h1 {
    font-size: 50px;
    height: 5px;
}

.print {
    display: flex;
    flex-direction: row;
    width: 135px;
}

.print p {
    color: rgb(174, 172, 172);
}

.top-page {
    display: flex;
    justify-content: space-between;
}

.paragraph {
    display: flex;
    flex-direction: column;
    width: 907px;
    margin: 0 auto;
    padding-right: 50px;
    text-indent: 30px;
    font-size: 20px;
    padding-bottom: 20px;
}

.container {
    padding-top: 20px;
    background-image: url(../images/note.png);
    width: 960px;
    background-repeat: no-repeat;
}

.list-one {
    display: flex;
    position: absolute;
    top: 176%;
    left: 19%;
    font-size: 25px;
    text-decoration: none;
}

.list-two {
    display: flex;
    position: absolute;
    top: 176%;
    right: 25%;
    font-size: 25px;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul li [type=checkbox]:checked ~ del {
    text-decoration: line-through;
}

ul li del {
text-decoration: none;
}

.profile {
    display: flex;
    flex-direction: row;
}

.profile img {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    width: 90px;
}

.profile p {
    font-size: 20px;
}

button {
    width: 180px;
    height: 60px;
    margin-left: 28px;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(205, 105, 94);
    color: white;
}

footer {
    text-align: center;
    padding-top: 50px;
}